<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>  
    <servlet-name>guru_register</servlet-name>
    <servlet-class>com.JavaWebApplication.Controller.guru_register</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>guru_register</servlet-name>  
    <url-pattern>/guru_register</url-pattern>  
  </servlet-mapping> 

  <display-name>Archetype Created Web Application</display-name>
</web-app>
